<!--mostrar solo si cartItem no es undefined-->
<div *ngIf="cartItem">
  <div>
    <table id="fondo">
      <colgroup>
        <col span="1" style="width: 29.3%" />
        <col span="1" style="width: 26.6%" />
        <col span="1" style="width: 30.5%" />
        <col span="1" style="width: 30%" />
      </colgroup>

      <!--usamos interpolacion para mostrar todos los datos de cartItem-->
      <tbody>
        <tr>
          <!--optional chaining-->
          <!--https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining-->
          {{
            cartItem.details?.name
          }}
          <td>
            {{ cartItem.details?.price * cartItem.cantidad }}
          </td>

          <td>
            {{ cartItem.cantidad }}
          </td>
          <td>
            <!--dos botones + y - al clickearlos llaman a la funcion add()-->
            <!--y le pasan por parametro en cuanto incrementar el numero y que item del carrito editar-->
            <input type="button" value="-" (click)="add(-1, cartItem)" />
            <input type="button" value="+" (click)="add(1, cartItem)" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
