<nav class="nav">
  <!--<div routerLinkActive="active">-->
  <div class="left">
    <a class="btn" routerLink="/home" routerLinkActive="active">Panel</a>
    <a
      *ngIf="!localStorageService.isLogged()"
      class="btn"
      routerLink="/login"
      routerLinkActive="active"
      >Login</a
    >
  </div>
  <!--</div>-->
  <h1 class="navbar-brand">{{ title }}</h1>
  <div class="img-container">
    <a routerLink="/cart">
      <img src="../../assets/cart-icon.png" />
    </a>
    <h2>{{ cartService.cantidad }}</h2>
  </div>
</nav>
