<!--solo se muestra si productInfo no es undefined-->
<!--ventana negra con opacidad, al ser clickeada ejecuta la funcion hide() que-->
<!--la oculta y tambien el formulario-->
<div *ngIf="productInfo" class="modalbg" (click)="hide()"></div>

<!--solo se muestra si productInfo no es undefined-->
<!--ventana blanca con el formulario-->
<div *ngIf="productInfo" class="modalwindow">
  <!--formulario de angular, al clickear el boton de type submit-->
  <!--se ejecuta la funcion edit con los datos del formulario-->
  <form #formData="ngForm" (ngSubmit)="edit(formData)">
    <!--cada input tiene un ngModel, necesario para que este-->
    <!--en formData-->
    <div class="inputs">
      <div class="input">
        <label for="name">Name</label>
        <input
          [ngModel]="productInfo.name"
          type="text"
          name="name"
          id="name"
          [placeholder]="productInfo.name"
        />
      </div>
      <div class="input">
        <label for="price">Price</label>
        <input
          [ngModel]="productInfo.price"
          type="text"
          name="price"
          id="price"
          [placeholder]="productInfo.price"
          required
        />
      </div>
      <div class="input">
        <label for="imgpath">ImgPath</label>
        <input
          [ngModel]="productInfo.imgpath"
          type="text"
          name="imgpath"
          id="imgpath"
          [placeholder]="productInfo.imgpath"
          required
        />
      </div>
      <div class="input">
        <label for="mostrar">Mostrar</label>
        <div style="display: flex; width: 50%">
          <input
            [(ngModel)]="productInfo.mostrar"
            type="checkbox"
            name="mostrar"
            id="mostrar"
            required
          />
        </div>
      </div>
    </div>
    <div class="btns">
      <!--boton de editar solo se muestra si recibimos un productInfo CON id-->
      <!--ejecuta la funcion especificada en ngSubmit-->
      <input
        *ngIf="productInfo.id"
        class="btn btn-primary"
        type="submit"
        value="Guardar"
      />
      <!--boton de agregar solo se muestra si recibimos un productInfo SIN id-->
      <!--ejecuta la funcion especificada en ngSubmit-->
      <input
        *ngIf="!productInfo.id"
        class="btn btn-success"
        type="submit"
        value="Agregar"
      />
      <!--boton de borrar solo se muestra si recibimos un productInfo CON id-->
      <!--ejecuta la funcion borrar()-->
      <input
        *ngIf="productInfo.id"
        (click)="borrar()"
        class="btn btn-danger"
        type="button"
        value="Eliminar"
      />
    </div>
  </form>
</div>
