<div class="cart-container">
  <table id="fondo">
    <colgroup>
      <col span="1" style="width: 29.3%" />
      <col span="1" style="width: 26.6%" />
      <col span="1" style="width: 30.5%" />
      <col span="1" style="width: 30%" />
    </colgroup>

    <tbody>
      <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Acciones</th>
      </tr>
    </tbody>
  </table>

  <!--por cada elemento del array cartData mostrar un componente -->
  <!--cart-item y pasarle el elemento-->
  <app-cart-item
    *ngFor="let cart of cartData"
    [cartItem]="cart"
  ></app-cart-item>

  <div id="confirmar-container">
    <a id="confirmar-button"> Confirmar </a>
  </div>
</div>
