/* You can add global styles to this file, and also import other style files */

:root {
  --bs-body-color: black;
}
body {
  margin: 0;
  width: 100%;
  border-style: solid;
  border-color: black;
}
