<!--solo mostrar si productInfo tiene algun valor-->
<div *ngIf="productInfo" class="item">
  <!--muestro todos los datos que tiene el objeto productInfo-->
  <div class="img-container">
    <img [src]="productInfo.imgpath" alt="product-image" />
  </div>
  <div class="info-container">
    <div class="info-data">
      <p class="info-text">{{ productInfo.name }}</p>
      <p class="info-text">${{ productInfo.price }}</p>
    </div>
    <div class="btn-container">
      <!--al clickear el boton se ejecutara la funcion add-->
      <!--y se le pasara por parametro el objeto con la informacion-->
      <!--del producto-->
      <input
        class="add-btn"
        type="button"
        value="+"
        (click)="add(productInfo)"
      />
    </div>
  </div>
</div>
