.form-container {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  height: 90vh;
  background-color: rgb(9, 96, 122);
}

form {
  /*border-style: solid;*/
  background-color: rgb(162, 200, 212);
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: space-evenly;*/
  width: 33%;
  /*height: 50%;*/
}

h1 {
  font-size: large;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15%;
  width: 90%;
}

.btn {
  width: 90%;
  background-color: rgb(26, 26, 238);
  color: white;
  border-style: solid;
  border-color: black;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  /*border-style: solid;*/
  /*height: 20%;*/
}

input {
  outline: none;
  width: 35%;
  padding: 5px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 6px;
}

input:focus {
  background-color: rgb(222, 231, 235);
  border: 3px solid rgb(9, 162, 223);
}

input[type="submit"]:focus {
  text-decoration: none;
  background-color: blue;
}

.msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  background-color: lightpink;
  color: darkred;
  border-radius: 6px;
  border-width: 1px;
  margin-top: 3em;
  margin-bottom: 0;
  width: 90%;
}
