.form-container {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  height: 90vh;
}

form {
  /*border-style: solid;*/
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 33%;
  height: 50%;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 33%;
}

.btn {
  width: 90%;
  background-color: blue;
  color: white;
  border-style: solid;
  border-color: black;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border-style: solid;*/
  height: 20%;
}
