<head>
  <style></style>
</head>

<div class="form-container">
  <!--la funcion de ngSubmit, login(), se ejecutara al clickear el boton-->
  <!--que tenga type submit, y recibira por parametro #formData, el cual-->
  <!--se refiere al formulario, y si estan bien puestos los ngModel-->
  <!--tendremos un objeto con las claves y valores de cada input-->
  <form #formData="ngForm" (ngSubmit)="login(formData)">
    <div class="inputs">
      <label for="name"> <h1>Nombre de Usuario:</h1> </label>
      <!--cada input debe tener ngModel, name e id bien nombrados-->
      <input ngModel type="text" name="name" id="name" required />
    </div>
    <div class="inputs">
      <label for="name"> <h1>Nombre Real:</h1> </label>
      <input ngModel type="text" name="realname" id="realname" required />
    </div>
    <div class="inputs">
      <label for="password"> <h1>Contraseña:</h1> </label>
      <input ngModel type="password" name="password" id="password" required />
    </div>
    <!--muestra este div con el msg adentro solo si el mensaje-->
    <!--no es undefined-->
    <div *ngIf="msg" class="msg">
      {{ msg }}
    </div>
    <div class="btns">
      <input class="btn" type="submit" value="Registrarse" />
    </div>
  </form>
</div>
