<footer>
  <div class="arriba">
    <p class="d-flex justify-content-center align-items-center">
      <fa-icon [icon]="faGithub"></fa-icon>
      <a
        class="text-white"
        href="https://github.com/lM4nu/E-Store"
        target="_blank"
      >
        Ir al repositorio
      </a>
    </p>
    <p class="d-flex justify-content-center align-items-center">
      <a
        class="text-white"
        href="https://www.frvt.utn.edu.ar/#gsc.tab=0"
        target="_blank"
      >
        Web UTN
      </a>
    </p>
  </div>
  <div class="abajo">© 2022 Universidad Tecnológica Nacional | TUP</div>
</footer>
