footer {
  /*margin-top: 50vh;*/
  background-color: #0a4275;
  height: 20vh;
  width: 100vw;
}

.arriba {
  height: 60%;
}
.abajo {
  text-align: center;
  height: 40%;
  background-color: #08355e;
}
