footer {
  background-color: #0a4275;
  padding: 0;
  border: 0;
  margin: 0;
  height: 20vh;
}

.arriba {
  height: 60%;
}
.abajo {
  text-align: center;
  height: 40%;
  background-color: #08355e;
  color: white;
}
